.justify {
  text-align: justify;
  text-justify: inter-word;
}

.toc {
  padding-left: 15px;
}

.important {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-family: Helvetica, Arial, sans-serif;
}

h1.title {
  color: rgb(0, 42, 86);
  font-weight: 1000;
}

h1 {
  color: rgb(0, 52, 106);
  /*font-family: "Highman", Times, serif;*/
}

h2, h3, h4 {
  color: rgb(0, 68, 141);
  /*font-family: "Times New Roman", Times, serif;*/
}

/*
h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    background: url(images/gradient.jpg) no-repeat;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0px;
    width: 100%;
}

.title{
display: none;
}
*/